body {
  font-family: 'Manrope', sans-serif;
}

.active {
  color: #265cf8;
  border-bottom: 1px solid #265cf8;
}


@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}